/* Universal */
header {
    background-color: #81B29A;
    color: #F4F1DE;
    padding: 15px;
    font-family: 'Fredoka', sans-serif;
    text-align: center;
}

header > nav > a {
    text-decoration: none;
    color: #3D405B;
    padding: 5px;
}

header > nav > a:hover {
    background-color: #F2CC8F;
    border-radius: 5px;
}

body {
    background-color: #E07A5F;
    margin: 0;
    font-family: 'Fredoka', sans-serif; 
}

footer {
    background-color: #81B29A;
    color: #F4F1DE;
    font-family: 'Fredoka', sans-serif; 
    text-align: center;
}

/* Play a game */

h2 {
    color: #F4F1DE;
    text-align: center;
}

.container {
    
}

.players {
    background-color: #F2CC8F;
    max-width: 350px;
    min-height: 150px;
    text-align: center;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;

}

/* Play submit */

.button {
    display: block;
    background-color: #81B29A;
    font-family: 'Fredoka', sans-serif;
    border-radius: 5px;
    font-size: medium;
    padding: 5px;
    

}

/* It's a Draw */

section a {
    text-decoration: none;
    color: #3D405B;
}

section a:hover {
    background-color: #F4F1DE;
    padding: 5px;
    border-radius: 5px;
}