<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ title }} - Rock Paper Scissors</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Fredoka&display=swap" rel="stylesheet">
    </head>
    <header>
        <h1> Rock-Paper-Scissors </h1>
        <p>&#9994; &#9995; &#9996;</p>
        <nav>
            <a href="/home"> Home</a> | 
            <a href="/play">Play with a friend</a> | 
            <a href="/vscomputer">Play against the computer</a>            
        </nav>
    </header>
    {% block content%}
    
    {% endblock %} 
    <footer>
        <p>&copy;Cordii.T Creative</p>
    </footer>
</html>